<minha-nav></minha-nav>
<div class="container">
  <h5>Adicionar Lanchonete</h5>
  <form name="formLanchoneteAdd" ng-submit="lanchoneteadd.adicionarLanchonete(novalanchonete)">
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="novalanchonet.nome" id="first_name" type="text" class="validate">
        <label for="first_name" class="left-align">Nome</label>
      </div>
      <div class="input-field col s12">        
        <textarea ng-model="novalanchonete.descricao" id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Descrição</label>
      </div>
      <div class="input-field col s12">
        <input ng-model="novalanchonete.local" id="last_name" type="text" class="validate">
        <label for="local" class="left-align">Local</label>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn-large">Adicionar</button>
  </form>
</div>