  <minha-nav></minha-nav>
  <div class="container">
    <h3>Sistema de lanchonetes Centro Paula Souza</h3>
  </div>
  <div class="container" ng-init="lanchonetes=true">
    <ul class="tabs">
      <li class="tab" ng-click="lanchonetes=true" ng-class="{active:lanchonetes===true}"><a>Lanchonetes</a></li>
      <li class="tab" ng-click="lanchonetes=false" ng-class="{active:lanchonetes===false}"><a>Produtos</a></li>
    </ul>
  </div>
  <div class="container" ng-show="lanchonetes===false">
    <meus-produtos></meus-produtos>
  </div>
  <div class="container" ng-show="lanchonetes===true">
    <minhas-lanchonetes></minhas-lanchonetes>
  </div>
  

