<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="lanchonete in lista.lista">
      <td><a href="/lanchonete/{{lanchonete.id}}">{{lanchonete.nome}}</a></td>
      <td>{{lanchonete.descricao}}</td>
      <td>
        <button ng-click="excluirLanchonete" class="btn waves-light">Excluir</button>
        <a href="/editar/{{lanchonete.id}}" class="btn waves-light">Editar</a>
      </td>
    </tr>
  </tbody>
</table>